body,
html {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --green-color: #00bb5d;
  --green-dark-color: #048455;
  --blue-color: #133adc;
  --red-color: #fe0101;
  --yellow-color: #ffcc00;
  --white-color: #ffffff;
  --white-grey-color: #f2f2f2;
  --white-dark-color: #d0d0d0;
  --black-color: #1e1e2a;
}
#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}
